*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: cambria;
}

.row
{
    max-width: 1140px;
    margin: 0 auto;
}

.hero
{   
    font-weight: bold;
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-58%,-50%);
}

.main-navigation
{
    list-style: none;
    float: right;
    margin-top: 50px;
}

header
{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(food1.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1
{
    color: azure;
}

.main-navigation li
{
    display: inline-block;
    float: right;
    margin-left: 30px;
}

.main-navigation li a
{
    color: white;
    text-decoration: none;
    font-size: 120%;
    font-weight: bold;
}

.main-navigation li a:hover
{
    color: orange;
    border-bottom: 2px solid orange;
    transition: all 0.5s ease-in;
    padding: 10px 5;
}

.logo img
{
    height: 250px;
    float: left;
}

.btn
{
    color: orange;
    border: 1px solid orange;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 50px;
    margin-right: 20px;
}

.Button
{
    margin-top: 30px;
}

.btn-first:hover
{
    background-color: darkorange;
    color: white;
    transition: all 0.5s ease-in;
}

.btn-second:hover
{
    background-color: darkorange;
    color: white;
    transition: all 0.5s ease-in;
}

.paragraph
{
    width: 70%;
    margin-top: 20px;
    margin-left: 15%;
    margin-bottom: 20px;;
}

h3:after
{
    width: 300px;
    height: 2px;
    background-color: orange;
    display: block;
    content: " ";
    margin: 0 auto;
    margin-top: 30px;
}

.features h3
{
    margin-top: 60px;
}

.features h4
{
    margin-left: 35%;
}

.arranging
{
    text-align: justify;
}

.features i
{
    font-size: 30px;
    color: brown;
    margin-left: 45%;
    margin-top: 30px;
}


.meal-buffet
{
    margin-top: 40px;
    list-style: none;
    width: 100%;
}

.meal-buffet li
{
    display: table-column;
    width: 25%;
    float: left;
}

.meal-pic
{
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.meal-pic img
{
    width: 100%;
    height: auto;
    transform: scale(1.25);
    transition: all 0.5s;
}

.meal-pic img:hover
{
    transform: scale(1.15);
}

.meal
{
    margin-top: 60px;
}

.phone img
{
    margin-top: 50px; 
    margin-left: 50px;
}

.work-step
{
    margin-top: 50px;
    margin-right: 50px;
}

.work-step div
{
    display: inline-block;
    border: 1px solid orange;
    width: 50px;
    height: 50px;
    text-align: center;
    text-height: 50px;
    border-radius: 50%;
    line-height: 50px;
}

.work-step img
{
    margin-top: 40px;
    display: inline-block;
    height: 70px;
    width: 200px;
    margin-right: 30px;
}

.clear-fix
{
    zoom: 1;
}

.clear-fix:after
{
    visibility: hidden;
    content: ".";
    height: 0;
    display: block;
    clear: both;
}

.mobile
{
    margin-top: 60px;
}

.cities
{
    width: 100%;
    margin-top: 100px;
    margin: 0;
    overflow: hidden;
}

.cities img
{
    width: 100%;
    margin-top: 60px;
    transform: scale(1.25);
    transition: all 0.5s;
}

.cities img:hover
{
    transform: scale(1.15);
}
.cities i
{
    color: orange;
}

